
@import url('https://fonts.googleapis.com/css2?family=Engagement&display=swap');
h2{
    margin:0px;
    font-family: 'Engagement', cursive;
    font-size: 70px;
    margin:0px;
    display:inline-block;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

