
.header-class{
    height:120px;
    width:100%;
    background-color:  #fff5f1;
    /* padding:20px; */
    display:block;
}

#headerline{
   width: 100%;
   height:3px;
   background-color: blue;
    margin:0px;
}

.header-title{
    display: inline-block;
    margin-left:80px;
    margin-top:20px;
}

.header-search{
    margin-top:40px;
    display: inline-block;
    position:absolute;
    margin-left:100px;
}
.header-links{
    position: relative;
    float:right;
    right:100px;
}

#brownline{
    width:100%;
    height:0.5px;
    background-color:#af7d52;
}

.main-header-book{
   
    box-shadow: 0 10px 20px black;
}