

.links-style{
    display:inline-block;
    margin-top:50px;
    margin-left:5px;
    margin-right:15px;
    height:20px;
    /* width:20px; */
}



.link-button{
 background-color: inherit;
 border:none;
 box-shadow: none;
 
}

.headerImage{
    position: relative;
    top:06px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

.Montserrat{
    font-family: 'Montserrat', sans-serif; 
}
.link-text{
    font-size:15px;
    margin-left:5px;
}

/** Tmp**/
.link-button:hover{
    background-color: blue;
}

.link-button:active{
    background-color:yellow;
}