.button-containers{
    display:inline-block;
    position:absolute;
    bottom:55px;
    left:540px;
}


.button{
    border: none;
    border-radius: 50px;
    width:250px;
    height: 70px;
    background-image: linear-gradient(90deg,#9652ae,#2972c9);
    
}

.button-after{
    content:url('../../../public/assets/down.svg');
    position: absolute;
    bottom:19px;
    left:135px;
    display:inline-block;
    height: 35px;
    width: 35px;
}

@import url('https://fonts.googleapis.com/css?family=Enriqueta&display=swap');
#button-text{
    color:white;
    display:inline-block;
    /* text-align:center; */
    font-family: 'Enriqueta', serif;
    font-size: 17px;
    font-weight: 900;
    text-shadow: 0 0 5px blue;
    position: absolute;
    bottom:10px;
    left:85px;
    margin-right:5px;
}

.button:hover{
    background-color:yellow
}

.button:active{
    background-color:blue;
}