#error-message{
    position: relative;
    background-color:#fef7da;
    border:1px solid;
    border-color: #d0cfce;
    margin-left:200px;
    margin-right:200px;
    margin-top:120px;
    height:100px;  
    padding:20px;
    padding-left:30px;
    line-height: 1.5rem; 
    /* text-align: center; */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
#message-div{
    font-family: 'Montserrat', sans-serif;
}

#error-header{
    font-size:30px;
    margin-bottom:0px;
}

#error-text {
    font-size: 15px;
    margin-top:0px;
    padding-top:15px;
}