




#searchicon:after {
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    font-size: 24px;
    color: blue;
    top: 10px;
    right: 15px;
    font-weight: 100;
}

#search{
    width:250px;
    height:45px;
    border:none;
    background-color:#fee0e4;
    margin-left:0px;
    margin-top:0px;
    margin-bottom:0px; 
    border-radius:50px;
    font-size:16px;
    padding-left:20px;
    padding-right:45px;
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 16px; 
}

#search:focus{
    background-color:white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: blue;
    opacity: 1; /* Firefox */
    font-size: 16px;
    /* padding-left: 05px; */
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 16px; 
    margin-top: 200px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: blue;
    font-size: 16px;
    /* padding-left: 10px; */
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 16px; 
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: blue;
    font-size: 16px;
    /* padding-left: 10px; */
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 16px; 
  }

