.lg-background{
    background-image:linear-gradient(to bottom,rgba(114, 28, 136, 0.5),rgba(223, 191, 207, 0.5));
    background-repeat:no-repeat;
    width:100%;
    height:calc(100vh - 125px);
    height:-moz-calc(100vh - 125px);
    height:-webkit-calc(100vh - 125px);
    height:-o-calc(100vh - 125px);
    height:-ms-calc(100vh - 125px);
    /* opacity:0.5; */
}

.title-in-page{
    position: absolute;
    font-size:100px;
    margin-top:40px;
    left:450px;
    text-align: center;
}

