.margin-0{
    margin:0 25px 0 25px;
   
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.PlayFair-Display{
    font-family: 'Playfair Display', serif;
}

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:300&display=swap');

.Bree{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Bree Serif', serif;
    width:65%;
    margin-left: 100px;
}

.fontSize-15{
    font-size: 15px;
}

.fontSize-14{
    font-size: 14px;
}

.paragraph{
    display:inline-block;
    width: 40%;
    position: absolute;
    left:400px;
}

.non-movable-paragraph{
   margin-top:290px;
   height:65px;
}

.movable-paragraph{
    margin-top: 13%; 
    left:390px;
    height:120px;
   
}

.right{
    /* display:; */
    float:right;
}